[ req ]
distinguished_name = req_distinguished_name
prompt = no

[ req_distinguished_name ]
O = Example
OU = Example Test
CN = localuser1

[ req_exts ]
basicConstraints = CA:FALSE
nsCertType = client, email
nsComment = "localuser1"
subjectKeyIdentifier = hash
keyUsage = critical, nonRepudiation, digitalSignature
extendedKeyUsage = clientAuth, emailProtection, msSmartcardLogin
subjectAltName = otherName:msUPN;UTF8:localuser1@EXAMPLE.COM, email:localuser1@example.com