name: SCAutolib Unit test
on:
  push:
    branches:
    - "*"
  pull_request:
    branches:
    - master
    - dev
  
jobs:
  test:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    container:
        image: x00pavel/centos-smartcards
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      - name: Install missing sudo package
        run: dnf install sudo -y

      - name: Install e2fsprogs for chattr command
        run: dnf install e2fsprogs -y

      - name: Install library decencies
        run: python3 -m pip install --upgrade -I -r requirements.txt
      
      - name: Install test decencies
        run: python3 -m pip install --upgrade -I -r test/requirements.txt

      - name: Run unit tests
        run: pytest test/ --not-in-ci
